{
  "presets": ["env", "react","stage-2"],
  "plugins": [
    "ramda",
    "lodash",
    "react-hot-loader/babel",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
