/node_modules
/dist
/npm-debug.log
/.idea
/coverage
/coverage/*
/flow-coverage
/flow-coverage/*
.vscode
.DS_Store
yarn-error.log
.awcache

/osrm/pbf
/osrm/pbf/*

/config/frontend.js
/config/backend.js

# Bundle
*.js.map
