doctype html
html
    head
        title Ошибка авторизации
        link(rel='stylesheet', href='/stylesheets/social/vk.css')

    body
        block content
            div#message
                div.bg
                    h1=heading
                    div=reason
                    button(onclick='window.close()')=button
