.button {
  background: #444444;
  padding: 4px 16px;
  height: 18px;
  line-height: 1em;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-shadow: inset rgba(100,100,100, 0.3) 1px 0, inset rgba(0,0,0, 0.1) -1px 0;
  color: white;
  font-weight: 400;

  &.primary {
    background: #3c78db;
    color: white;
  }

  &.danger {
    background: #ed2f3b;
    color: white;
  }

  &.success {
    background: #17bf6d;
    color: white;
  }
}

.button-group {
  display: flex;

  .button {
    border-radius: 0;
    margin: 0;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
