.dialog {
  // background: #222222;
  // background: linear-gradient(130deg, #320523, #020d2b);
  // background: #271535;
  position: fixed;
  left: 0;
  top: 0;
  width: 360px;
  height: 100%;
  z-index: 5;

  padding: 10px 10px 68px 10px;
  overflow: hidden;
  box-sizing: border-box;

  transform: translate3d(-100%, 0, 0);
  pointer-events: none;
  transition: transform 500ms;

  &.active {
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }

  @media (max-width: @mobile_breakpoint) {
    width: 100%;
  }

}

.dialog-content {
  background: #271535;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: @panel_radius;
  box-shadow: @dialog_shadow;

  display: flex;
  flex-direction: column;

  a {
    color: white;
    opacity: 0.8;
  }
}

.dialog-shader {
  &::before, &::after {
    content: ' ';
    height: 40px;
    width: 100%;
    left: 0;
    top: 0;
    // background: linear-gradient(0deg, rgba(2, 13, 43, 1) 50%, rgba(2,13,43,0));
    // background: linear-gradient(0deg, rgba(34, 34, 34, 1) 50%, rgba(34, 34, 34, 0));
    background: linear-gradient(180deg, rgba(39, 21, 53, 1), rgba(39, 21, 53, 0));
    position: absolute;
    z-index: 5;
    pointer-events: none;
  }

  &::after {
    top: auto;
    bottom: 0;
    background: linear-gradient(0deg, rgba(39, 21, 53, 1), rgba(39, 21, 53, 0));
  }
}

.dialog-maplist {
  padding: 10px;
  box-sizing: border-box;
}

.route-row {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 10px 5px 10px;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: background-color 250ms;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.route-title {
  margin-bottom: 5px;
  font-weight: bold;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.route-description {
  font-size: 0.9em;
  opacity: 0.3;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  svg {
    width: 20px;
    height: 20px;
    fill: white;
    vertical-align: text-bottom;
    margin-bottom: -2px;
  }

  span {
    padding-right: 10px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.dialog-head {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: @panel_radius @panel_radius 0 0;
  color: white;
}

.dialog-head-title {
  font-size: 20px;
  text-transform: uppercase;
}

.app-info-changelog {
  color: white;
  padding: 10px;
  font-size: 0.8em;

  div {
    opacity: 0.8;
  }
}

.app-info-number {
  width: 16px;
}

.app-info-changelog-item {
  text-transform: uppercase;
  display: flex;
  flex: 1;

  .app-info-current {
    font-size: 0.9em;
    opacity: 0.3;
    display: inline;
    padding-left: 10px;
  }
}

.app-info-version {
  padding-bottom: 5px;
  flex: 1;
  flex-direction: column-reverse;
}

.app-info-release {
  padding-bottom: 5px;
  display: flex;
  flex: 1;
}

.app-info-build {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.app-info-change {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;

  .app-info-number {
    width: 20px;
  }

  span {
    flex: 1;
  }
}

.app-info-list {
  padding: 10px 0;

  div {
    padding: 2.5px 0;
  }
}
