@import 'colors.less';

@import 'map.less';
@import 'panel.less';
@import 'router.less';
@import 'stickers.less';
@import 'button.less';
@import 'logo.less';

body {
  font-family: sans-serif;
  font-size: 14px;
}

.gray {
  opacity: 0.75;
}

.big {
  font-size: 14px;
}

.small {
  font-size: 12px;
}

.white {
  color: white;
}
