.control-bar {
  background: @bar_background;
  border-radius: @panel_radius;
  display: flex;
  box-shadow: @bar_shadow;
}

.control-bar-padded {
  padding: 0 5px;
}

.control-dist {
  background: #222222;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-weight: 200;
  color: #cccccc;
  user-select: none;
  box-shadow: @bar_shadow;
  position: fixed;
  top: 10px;
  left: 42px;
  z-index: 2;
  height: 32px;
  border-radius: 0 3px 3px 0;

  svg {
    fill: #cccccc;
  }
}

.control-sep {
  height: 44px;
  background: #222222;
  width: 3px;
}

.panel {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 3;
  color: white;
  display: flex;
  align-items: center;
  transform: translateY(100px);
  transition: transform 500ms;

  &.active {
    transform: translateY(0);
  }

  &.right {
    left: auto;
    right: 10px;
  }

  button {
    border: none;
    background: transparent;
    padding: 8px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    color: white;
    align-items: center;
    transition: background-color 500ms;
    height: 48px;
    box-sizing: border-box;
    user-select: none;

    &:hover {
      background: rgba(100, 100, 100, 0.2);
    }

    span {
      margin-right: 8px;
      font-size: 14px;
      font-weight: 500;
      margin-left: 8px;
    }

    &:first-child {
      border-radius: @panel_radius 0 0 @panel_radius;
    }

    &:last-child {
      border-radius: 0 @panel_radius @panel_radius 0;
    }

    &.active {
      svg {
        fill: url(#activeButtonGradient);
        stroke: url(#activeButtonGradient);
      }
    }

    &.disabled {
      color: #999999;

      svg {
        fill: #999999;
      }
    }

    &.highlighted {
      background: rgba(255, 255, 255, 0.1);
    }

    &.cancel {
      // background: linear-gradient(270deg, #0f5871, #444444 60%);
    }

    &.primary {
      background: linear-gradient(150deg, @blue_primary, @blue_secondary) 50% 50% no-repeat;
      background-size: 100% 100%;
    }

    &.success {
      background: linear-gradient(150deg, @green_primary, @green_secondary) 50% 50% no-repeat;
      background-size: 100% 100%;
    }

    &.danger {
      background: linear-gradient(150deg, @red_primary, @red_secondary) 50% 50% no-repeat;
      background-size: 100% 100%;
    }

    &.single {
      border-radius: 3px;
    }

    svg {
      fill: white;
      stroke: white;
      display: inline;
      fill-rule: evenodd;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-dasharray: none;
      stroke-width: 3;
    }
  }
}

.panel-separator {
  height: 48px;
  width: 4px;
  background: #222222;
}

#control-dialog {
  background: rgba(30, 30, 30, 0.95);
  position: absolute;
  right: 10px;
  bottom: 68px;
  border-radius: @panel_radius;
  z-index: 3;
  color: white;
  box-sizing: border-box;
  // padding-bottom: 48px;
  box-shadow: inset rgba(255, 255, 255, 0.05) 1px 1px;
}

.helper {
  // width: 500px;
  padding: 12px;
  font-weight: 200;
  font-size: 1em;
  display: flex;
}


.helper__text {
  width: 100%;
  display: flex;
  align-items: center;

  svg {
    fill: white;
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }

  &.success {
    color: @color_success;

    svg {
      fill: @color_success;
    }
  }

  &.primary {
    color: @color_danger;

    svg {
      fill: @color_danger;
    }
  }

  &.danger {
    color: @color_danger;

    svg {
      fill: @color_danger;
    }
  }
}

.helper__buttons {
  display: flex;
  align-items: center;

  .button {
    margin-left: 10px;
  }
}

.logo-helper {
  width: 200px;
  flex-direction: column;
  padding: 16px 0 16px 0;
  position: relative;
  overflow: hidden;
}

.helper-back {
  width: 200px;
  height: 200px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    fill: @bar_background;
  }
}

.helper-menu-item {
  padding: 8px 20px;
  user-select: none;
  cursor: pointer;
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    &::after {
      content: ' ';
      width: 16px;
      height: 4px;
      left: 0;
      top: 14px;
      position: absolute;
      background: white;
    }
  }
}

