.control-bar {
  background: @bar_background;
  border-radius: 4px;
  display: flex;
  box-shadow: @bar_shadow;
}

.control-dist {
  height: 44px;
  background: #222222;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px 0 0 3px;
  font-weight: 200;
  color: #cccccc;
  user-select: none;
  box-shadow: @bar_shadow;

  svg {
    fill: #cccccc;
  }
}

.control-sep {
  height: 44px;
  background: #222222;
  width: 3px;
}

.panel {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 3;
  color: white;
  display: flex;
  align-items: center;
  transform: translateY(100px);
  transition: transform 500ms;

  &.active {
    transform: translateY(0);
  }

  &.right {
    left: auto;
    right: 10px;
  }

  button {
    border: none;
    background: transparent;
    padding: 8px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    color: white;
    align-items: center;
    transition: background-color 500ms;
    height: 48px;
    box-sizing: border-box;

    &:hover {
      background: rgba(100, 100, 100, 0.2);
    }

    span {
      margin-right: 8px;
      font-size: 14px;
      font-weight: 200;
      margin-left: 8px;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &.active {
      svg {
        fill: url(#activeButtonGradient);
        stroke: url(#activeButtonGradient);
      }
    }

    &.highlighted {
      background: #555555;
    }

    &.primary {
      background: linear-gradient(150deg, @blue_primary, @blue_secondary) 50% 50% no-repeat;
      background-size: 100% 100%;
    }

    &.success {
      background: linear-gradient(150deg, @green_primary, @green_secondary) 50% 50% no-repeat;
      background-size: 100% 100%;
    }

    &.single {
      border-radius: 3px;
    }

    svg {
      fill: white;
      stroke: white;
      display: inline;
      fill-rule: evenodd;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-dasharray: none;
      stroke-width: 3;
    }
  }
}

.panel-separator {
  height: 48px;
  width: 4px;
  background: #222222;
}

#control-dialog {
  background: #222222;
  position: absolute;
  right: 10px;
  bottom: 12px;
  border-radius: 3px;
  z-index: 3;
  color: white;
  box-sizing: border-box;
  padding-bottom: 48px;
  box-shadow: inset rgba(255, 255, 255, 0.05) 1px 1px;
}

.helper {
  width: 500px;
  padding: 10px;
  font-weight: 200;
  font-size: 14px;
  display: flex;
}


.helper__text {
  width: 100%;
}

.helper__buttons {
  display: flex;
  align-items: center;
}

.logo-helper {
  width: 200px;
  flex-direction: column;
  padding: 16px 0 0 0;
  position: relative;
  overflow: hidden;
}

.helper-back {
  width: 200px;
  height: 200px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    fill: @bar_background;
  }
}

.helper-menu-item {
  padding: 8px 20px;
  user-select: none;
  cursor: pointer;
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    &::after {
      content: ' ';
      width: 16px;
      height: 4px;
      left: 0;
      top: 14px;
      position: absolute;
      background: white;
    }
  }
}

